@import url("./reset.css");

:root {
    --main-font-family : "cursive";
    --bg-dark : "#2f2f2f";
    --fs-lg : 4rem;
    --fs-md : 2rem;
    --fs-sm : 1rem;
    --fs-xs : .8rem;
}


body {
    font-family: var(--main-font-family);
}

/* img[alt~="dog"] { }

a[target="_blank"] {}
img[alt^="x"] {}

img[alt$="x"] {}

img[alt*="do"] {

} */

/*
    Images [webp] lazy [eager loading vs lazy loading]
    Rules Parsing 
    SImple Selectors 
    header .brand a {}
    Avoid Inline Style
    Avoid @import [delay]
    Minify .css .min.css production version reduce file size
    Cache Css 
    Remove unnecessary Animation 
*/