/* input:not(.login , #text) { 
    width: 40%;
    height: 50px;
} */
/* input[type="text"] {
    color: red;
    font-size: 1rem;
}

input[type="password"]::placeholder { 
    color: blueviolet;
} */

/* textarea { 
    resize: none;
}

input:focus { 
    color: blue;
} */